*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}

header {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #000; 
}

header h1 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 43px;
    margin-bottom: 5px;
}

header p {
    font-size: 14px;
    font-style: italic;
    margin-top: -5px;
}

.menu {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 28px;
    cursor: pointer;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    font-size: 12px;
}

footer img {
    width: 280px;
}

.canto-esquerdo {
    max-width: 300px;
    position: relative; top: 5px;}

.canto-direito {
    text-align: center;
    font-size: 15px;
    padding: 10px;
}